

.contentImg{
  float:left;
  width:260px;
  height:268px;
  margin-top:5px;
  margin-left:5px;
}
.contentImg img{
  width:96%;
  height:100%;
  border-radius:5px;
  
}
.contentText{
  margin-top:3px;
  margin-left:3px;
}
.contentText p{
  font-size:13px;
  word-spacing:6px;
  word-break:break-word;
}
.contentSpecification{
  width:100%;
  padding:15px;
  margin-left:35px;
  float:left;
}
.freeGadget{
  float:left;
  width:340px;
  padding:5px;
  margin-left:45px;
}
.contentPrice{
  float:;
}
.buyButton{
  float:;
}
.table1{
  border:1px solid #fabb47;
  border-radius:5px;
}
.table2{
  border:1px solid #fabb47;
  border-radius:5px;
}
.table1 th{
  border:1px solid #0001;
  font-size:11px;
  color:white;
  border-radius:5px;
  width:100px;
  background:#fabb47;
  text-align: center;
  border:1px solid #fabb47;
}
.table2 th{
  border:1px solid #0001;
  font-size:11px;
  border-radius:5px;
  color:white;
  width:200px;
  background:#fabb47;
  text-align: center;
  border:1px solid #fabb47;
}
.table1 td{
  color:orange;
  color:black;
  font-size:11px;
  text-align: center;
  border-radius:5px;
  border:1px solid #fabb47;
}
.table2 td{
  color:#fabb47;
  font-size:;
  color:black;
  text-align: center;
  border-radius:5px;
  border:1px solid #fabb47;
}
.buyButton{
  width:450px;
  height:35px;
  float:center;
  text-align:center;
  border:1px solid #0001;
  border-radius:5px;
  padding-top:7px;
  margin:25px 5px 15px 235px;
  background:#fabb47;
}
.buyButton:hover{
  opacity: 1;
  box-shadow:1px 1px 2px 0px;
  cursor:pointer;
}
.buyButton a{
  text-decoration: none;
  font-size:20px;
  color:white;
}
.slideWraperMother{
  width:942px;
  height:233px;
  margin-left:0px;
  overflow:hidden;
  padding-bottom:20px;
  border-radius:5px;
  margin:10px 10px 10px 12px;
  box-shadow:1px 1px 3px 0px;
}
.slideWraper{
  width:960px;
  height:270px;
  border:1px solid #0001;
  overflow:scroll;
  float:left;
}
.slideWraper div:hover{
  opacity:.6;
}
.slideContent{
  float:left;
  width:248px;
  height:230px;
  border:1px solid #0001;
  margin-left:0px;
  margin-top:10px;
  border-radius: 5px;
  background:#fabb47;
  color:white;
  text-align:center;
  margin-left:48px;
}
.slideContent img{
  width:230px;
  height:140px;
  border-radius: 5px;
  margin-left:4.px;
  margin-top:8px;
}
.slideContentName p{
  font-size:13px;
  width:230px;
  height:auto;
  word-break:break-word;
  margin:0 auto;
  margin-bottom:10px;
}
.slideContentName a{
  color:black;
  text-decoration: none;
  width:100px;
  height:30px;
  background:red;
  padding:3px;
  border-radius:5px;
  margin-top:0px;
}
